/*
 * Estilos de tu proyecto
 */
  /*setear*/
  body{
    outline: 1px solid black;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
/*encabezado*/
#contenedor {
    outline: 2px solid aqua;
    font-weight: 700;
    height:100px ;
    width: 100%;
    position: fixed;
    z-index:1000;
   
 }
 .content {
     outline: 2px solid black;
 } 
 .logo {
     outline: 2px solid blue;
     display: inline-block;
     position: relative;
     left: 80px;
     top: 20px;
     background-color: red;
     
  
 }
.logo img {
    outline: 2px solid black;
    width: 70px;
    height: 50px;
 
}


/*menu de navegacion*/

nav {
    float: right;
    display: inline-block;
    outline: 2px solid red;
    height: 30px;
    margin:35px;
    margin-right: 100px;
   
     
}
nav .menu {
   
    outline: 2px solid green;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    left: 700px;
   
   }

nav .menu li {
    outline: 2px solid black;
    display: inline-block;
    margin-left: 20px;
    padding: 0;
}

nav .menu li a {   
    outline: blue;
    text-decoration: none;
    color:black;
    display: inline-block;
 }
 #cuerpo-uno {
     outline: 2px solid blue;
 }
 
 #cuerpo-uno img {
     width: 100%;
     height: 900px;;
 } 
 #formu {
     outline: 2px solid red;
     display: inline-block;
     float: right;
     position: relative;
     bottom: 620px;
     width: 38%;
     height: 400px;
     text-transform: uppercase;
     background-color: #fff;
 }
 .title {
     font-size: 25px;
     margin: 35px 0 0 35px ;
 }
 .form__reg {
     outline: 2px solid black;
     margin-left: 35px;
 }
.cont-input {
    outline: 2px solid orange 
}
input {
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid rgb(248, 181, 245);
    width: 400px;
    height: 40px;
}
.form__reg {
    outline: 2px solid red;
}
.btn__form .btn__submit {
    width:  120px;
	border-bottom: none;
	background-color: #f044c5;
    color: white;
    border-radius: 6px;
   
}
/* }
.conte-uno {
    outline: 2px solid green;
    width: 20%;
    float: left;
    position: relative;
    bottom: 400px;
}
.info {
    outline: 2px solid red;
    display:inline-block;
    width: 100%;
}
}
*/

    